.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 5%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 15px 0px var(--dark-background);
}

.home>a:any-link {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}